#thegame{
    text-align: center;
}
#mycanvas{
    border: 4px solid;
}
#score_display{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}
#reset_button{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}